ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  ul {
    flex-direction: column;
  }

  ul li {
    margin-bottom: 24px !important;
    margin-right: 0 !important;
    width: 100% !important;
  }

  [data-pka-anchor='card'] {
    width: 100% !important;
  }

  header {
    height: auto !important;
    flex-wrap: wrap;    
    padding-bottom: 16px;
  }

  header h2 {
    width: 60%;
  }

  .current-user-name {
    width: 25% !important;
  }

  [data-pka-anchor='card.footer'] {
    justify-content: space-between;
    padding-right: 16px;
  }

  [data-pka-anchor='counter'] {
    margin-top: 8px;
  }
}

[data-pka-anchor='popover.card'] {
  font-size: 16px !important;
}

[data-pka-anchor='card.footer'] {
  justify-content: space-between;
  padding-right: 16px;
}

ul li {
  list-style-type: none;
  margin-right: 32px;
  margin-bottom: 24px;
  width: 230px;
}

[data-pka-anchor="avatar"] {
  height: 32px !important;
}

header {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: space-between;
}

.register-modal {
  margin-right: 8px;
}

legend {
  font-size: 16px !important;
  margin-bottom: 8px !important;
}

fieldset {
  margin-bottom: 16px !important;
}

.bubbly {
  margin-top: 32px;
}

.total-players {
  text-transform: uppercase;
  font-size: 16px !important;
  letter-spacing: 0.2em !important;
}

[data-pka-anchor='counter'] {
  padding-left: 8px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-right: 5px !important;
}

[data-pka-anchor='card'] {
  height: auto !important;
}

[data-pka-anchor='pill'] {
  padding: 0 16px !important;
  margin-top: 8px !important;
}

.check-in-button {
  margin-left: 8px;
}

.checked-in {
  color: green;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.checked-in svg {
  margin-right: 8px;
}

.register-trigger {
  font-family: 'Arial';
  margin-right: 8px;
}

[data-pka-anchor='confirmation.confirm-button'] {
  border-color: #42996d !important;
  background-color: #5db187 !important;
  background-image: linear-gradient(#5db187,#42996d) !important;
}

[data-pka-anchor='popover.card'] {
  font-family: 'Arial';
}
