ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .dashboard .title {
    font-size: 26px;
  }

  .family-card ul {
    margin-top: 6px;
  }

  .family-card li {
    list-style-type: disc;
    margin-bottom: 4px !important;
    margin-left: 38px;
  }
    
  li [data-pka-anchor='card'] {
    width: 100% !important;
  }


  [data-pka-anchor='panel.content'] [data-pka-anchor='card'] {
    width: 100% !important;
    margin-right: 0;
    margin-bottom: 12px;
  }
  
  .family-member-form {
    width: 100% !important;
    margin-top: 24px;
  }

  ul {
    flex-direction: column;
  }

  ul li {
    margin-bottom: 24px !important;
    margin-right: 0 !important;
    width: 100% !important;
  }

  [data-pka-anchor='card'] {
    width: 100% !important;
  }

  header {
    height: auto !important;
    flex-wrap: wrap;    
    padding-bottom: 16px;
  }

  header h2 {
    width: 60%;
  }

  .current-user-name {
    width: 25% !important;
  }

  [data-pka-anchor='card.footer'] {
    justify-content: space-between;
    padding-right: 16px;
  }

  [data-pka-anchor='counter'] {
    margin-top: 8px;
  }
}

[data-pka-anchor='popover.card'] {
  font-size: 16px !important;
}

[data-pka-anchor='card.footer'] {
  justify-content: space-between;
  padding-right: 16px;
}

ul li {
  list-style-type: none;
  margin-right: 32px;
  margin-bottom: 24px;
  width: 300px;
}

[data-pka-anchor="avatar"] {
  height: 32px !important;
  margin-right: 6px;
}

header {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: space-between;
}

.register-modal {
  margin-right: 8px;
}

legend {
  font-size: 16px !important;
  margin-bottom: 8px !important;
}

fieldset {
  margin-bottom: 16px !important;
}

.bubbly {
  margin-top: 32px;
}

.total-players {
  text-transform: uppercase;
  font-size: 16px !important;
  letter-spacing: 0.2em !important;
}

[data-pka-anchor='counter'] {
  padding-left: 8px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-right: 5px !important;
}

[data-pka-anchor='card'] {
  height: auto !important;
}

[data-pka-anchor='panel.content'] [data-pka-anchor='card'] {
  margin-right: 12px;
}

[data-pka-anchor='card.title'] {
  display: flex;
  align-items: center;
}

[data-pka-anchor='card.title'] [data-pka-anchor='button'] {
  margin-left: auto;
}

[data-pka-anchor='pill'] {
  padding: 0 16px !important;
  margin-top: 8px !important;
}

[data-pka-anchor='takeover'], [data-pka-anchor='takeover.overlay'] {
  height: 100vh !important;
}
.check-in-button {
  margin-left: 8px;
}

.checked-in {
  color: green;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.checked-in svg {
  margin-right: 8px;
}

.register-trigger {
  font-family: 'Arial';
  margin-right: 8px;
}

[data-pka-anchor='confirmation.confirm-button'] {
  border-color: #42996d !important;
  background-color: #5db187 !important;
  background-image: linear-gradient(#5db187,#42996d) !important;
}

[data-pka-anchor='popover.card'] {
  font-family: 'Arial';
}

.family-member-form {
  width: 50%;
  margin-top: 24px;
}

.family-card {
  margin-top: 8px;
}

.family-card ul {
  margin-top: 6px;
}
.family-card li {
  list-style-type: disc;
  margin-bottom: 4px;
  margin-left: 38px;
}

[data-pka-anchor='card'] {
  width: 315px !important;
}

.dashboad-header-lah {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
